@import '_paddingMarginMaterialize';
@import '_colors.scss';
@import '_variables.scss';
@import '_avatarComponent.scss';
@import '_navbar.scss';

/* haderComponent */
.btn{
    text-transform: inherit;
}
label.active {
    color: #1e88e5 !important;
  }
input:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
  }
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    border: 2px solid #1e88e5;
    background-color: #1e88e5;
}




.loginSection{
    @media only screen and (min-width: 760px) {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.form_mercato{
    .input-field{
        margin-bottom: .2em;
    }
    &.login{
        .btn[type=submit]{
            width: 100%;
            margin-top: 25px;
            max-width: 400px;
        }
    }
    .check_remember{
        margin-top: 10px;
        label span{
            color: #000;
            line-height: 20px;
        }
    }
}
.btn.register{
    width: 70%;
    max-width: 400px;
    margin: 35px auto 0;
    display: block;
}


section.carousel{
    width: 100%;
    min-height: 100vh;
    .carousel{
        height: 100vh;
        .carousel-item{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                @media only screen and (min-width: 760px) {
                    object-fit: contain;
                }
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgb(255,255,255);
                background: linear-gradient(180deg, rgba(255,255,255,0) 45%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,1) 99%);
                z-index: 20;
            }
            .content{
                padding: 2rem;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 12%;
                margin: 0 auto;
                z-index: 30;
            }
        }
        .indicators{
            bottom: 8%;
            .indicator-item{
                background-color: var(--grey);
                &.active{
                    background-color: var(--primary_blue);
                }
            }
        }
        .carousel-fixed-item.with-indicators{
            bottom: 25px;
            padding: 0 1rem;
            a{
                width: 100%;
                max-width: 550px;
            }
        }
    }
}

section.dashboard{
    background-color: #CFD8DC;
    width: 100%;
    min-height: 100vh;
    .wellcome_notifications{
        padding: 2rem 10%;
        h3{
            font-weight: 500;
            font-size: 1.3em;
        }
        p{
            margin: 5px 0 0;
        }
    }
}

.grid-content{
    .box{
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 10px;
        .content{
            padding: 0 0 0 10px;
            .title{
                font-size: 1.1em;
                font-weight: 600;
                margin: 0 0 3px;
            }
            p{
                margin: 0;
                color: #000;
            }
        }
        .number{
            font-weight: bold;
            font-size: 2em;
            margin: 0;
            text-align: center;
        }
        &.product{
            margin-top: 10px;
            display: inherit;
            border-radius: 4px;
            overflow: hidden;
            padding: .5rem;
            .carousel{
                height: 180px !important;
                .carousel-item{
                    padding: .5rem;
                    h4{
                        margin: 0;
                        font-size: 1em;
                        text-transform: uppercase;
                        color: #9e9e9e;
                    }
                    p{
                        font-size: 1.1em;
                        margin: 0;
                        letter-spacing: 2px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #9e9e9e;
                    }
                }
                .carousel-fixed-item{
                    bottom: 5px;
                    left: 10px;
                    margin: 0;
                    text-align: left;
                    font-size: 11px;
                    font-weight: 500;
                }
                ul.indicators li{
                    height: 5px;
                    width: 5px;
                    margin: 7px 3px !important;
                    background-color: #bdbdbd;
                    &.active{
                        background-color: var(--primary);
                    }
                }
            }
            
        }
    }
}
article.product{
    figure{
        width: 100%;
        height: 150px;
        background-color: #bdbdbd;
        margin: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .footer-article{
        
    }
}
section.dashboard{
    .products-category-list{
        .category-box{
            width: 100%;
            height: 250px;
            background-color: #B4BBBF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:nth-child(2n){
                background-color: #CFD8DC;
            }
        }
    }
}
.filter-product {
    #dropdownCategory{
        top: inherit !important;
    }
}