/*---------- SPACING ----------*/
/* Padding Zero */
.p0 {
  padding: 0 !important;
}

/* Padding Top */
.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pt110 {
  padding-top: 110px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pt130 {
  padding-top: 130px !important;
}

.pt140 {
  padding-top: 140px !important;
}

/* Padding Bottom */
.pb0 {
  padding-bottom: 0px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pb110 {
  padding-bottom: 110px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pb130 {
  padding-bottom: 130px !important;
}

.pb140 {
  padding-bottom: 140px !important;
}

/* Padding Left */
.pl0 {
  padding-left: 0px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.pl70 {
  padding-left: 70px;
}

.pl80 {
  padding-left: 80px;
}

.pl90 {
  padding-left: 90px;
}

.pl100 {
  padding-left: 100px;
}

/* Padding Right */
.pr0 {
  padding-right: 0px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr60 {
  padding-right: 60px;
}

.pr70 {
  padding-right: 70px;
}

.pr80 {
  padding-right: 80px;
}

.pr90 {
  padding-right: 90px;
}

.pr100 {
  padding-right: 100px;
}

.pr110 {
  padding-right: 110px;
}

.pr120 {
  padding-right: 120px;
}

@media (min-width: 1200px) {
  .pl-lg-50 {
    padding-left: 50px;
  }
  .pl-lg-80 {
    padding-left: 80px;
  }
}

@media (min-width: 992px) {
  .pt-md-50 {
    padding-top: 50px;
  }
}

/* Margin Auto */
.mr-auto {
  margin: auto;
  float: none;
}

/* Margin Top */
.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mt120 {
  margin-top: 120px !important;
}

/* Margin Bottom */
.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb110 {
  margin-bottom: 110px;
}

.mb120 {
  margin-bottom: 120px;
}

/* Margin Left */
.ml0 {
  margin-left: 0 !important;
}

.ml15 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml70 {
  margin-left: 70px;
}

.ml80 {
  margin-left: 80px;
}

.ml90 {
  margin-left: 90px;
}

.ml100 {
  margin-left: 100px;
}

.ml110 {
  margin-left: 110px;
}

/* Margin Right */
.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-left: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr100 {
  margin-right: 100px;
}

.mr110 {
  margin-right: 110px;
}

:root {
  --primary: #1565c0;
  --black: #3333;
  --grey: #CFD8DC;
}

.border {
  border: solid 1px;
}

.border.b_blue {
  border: solid 1px blue;
}

.border.b_red {
  border: solid 1px #b71c1c;
}

.border.b_yellow {
  border: solid 1px #ffeb3b;
}

.m0 {
  margin: 0;
}

.m1 {
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.black {
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.avatar_component {
  text-align: center;
  padding: 1em;
}

.avatar_component figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--grey);
  margin: 10px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
  /* img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        } */
}

.avatar_component .avatar_title {
  font-weight: 700;
  font-size: 1.1em;
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: block !important;
  }
}

ul.tools li {
  padding: 0 .5rem;
}

.sidenav li a {
  color: #151515;
}

.sidenav li.active a, .sidenav li.active i {
  color: #1565c0 !important;
}

.avatar_side_menu {
  background-color: #CFD8DC;
  padding: 2.5rem 2rem .5rem;
}

.avatar_side_menu figure {
  margin: 0 0 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}

.avatar_side_menu figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.avatar_side_menu .mail a {
  font-weight: 500;
}

/* haderComponent */
.btn {
  text-transform: inherit;
}

label.active {
  color: #1e88e5 !important;
}

input:focus {
  border-bottom: 1px solid #1e88e5 !important;
  box-shadow: 0 1px 0 0 #1e88e5 !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #1e88e5;
  background-color: #1e88e5;
}

@media only screen and (min-width: 760px) {
  .loginSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form_mercato .input-field {
  margin-bottom: .2em;
}

.form_mercato.login .btn[type=submit] {
  width: 100%;
  margin-top: 25px;
  max-width: 400px;
}

.form_mercato .check_remember {
  margin-top: 10px;
}

.form_mercato .check_remember label span {
  color: #000;
  line-height: 20px;
}

.btn.register {
  width: 70%;
  max-width: 400px;
  margin: 35px auto 0;
  display: block;
}

section.carousel {
  width: 100%;
  min-height: 100vh;
}

section.carousel .carousel {
  height: 100vh;
}

section.carousel .carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width: 760px) {
  section.carousel .carousel .carousel-item img {
    object-fit: contain;
  }
}

section.carousel .carousel .carousel-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.8) 70%, white 99%);
  z-index: 20;
}

section.carousel .carousel .carousel-item .content {
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12%;
  margin: 0 auto;
  z-index: 30;
}

section.carousel .carousel .indicators {
  bottom: 8%;
}

section.carousel .carousel .indicators .indicator-item {
  background-color: var(--grey);
}

section.carousel .carousel .indicators .indicator-item.active {
  background-color: var(--primary_blue);
}

section.carousel .carousel .carousel-fixed-item.with-indicators {
  bottom: 25px;
  padding: 0 1rem;
}

section.carousel .carousel .carousel-fixed-item.with-indicators a {
  width: 100%;
  max-width: 550px;
}

section.dashboard {
  background-color: #CFD8DC;
  width: 100%;
  min-height: 100vh;
}

section.dashboard .wellcome_notifications {
  padding: 2rem 10%;
}

section.dashboard .wellcome_notifications h3 {
  font-weight: 500;
  font-size: 1.3em;
}

section.dashboard .wellcome_notifications p {
  margin: 5px 0 0;
}

.grid-content .box {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 10px;
}

.grid-content .box .content {
  padding: 0 0 0 10px;
}

.grid-content .box .content .title {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 0 3px;
}

.grid-content .box .content p {
  margin: 0;
  color: #000;
}

.grid-content .box .number {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.grid-content .box.product {
  margin-top: 10px;
  display: inherit;
  border-radius: 4px;
  overflow: hidden;
  padding: .5rem;
}

.grid-content .box.product .carousel {
  height: 180px !important;
}

.grid-content .box.product .carousel .carousel-item {
  padding: .5rem;
}

.grid-content .box.product .carousel .carousel-item h4 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  color: #9e9e9e;
}

.grid-content .box.product .carousel .carousel-item p {
  font-size: 1.1em;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: #9e9e9e;
}

.grid-content .box.product .carousel .carousel-fixed-item {
  bottom: 5px;
  left: 10px;
  margin: 0;
  text-align: left;
  font-size: 11px;
  font-weight: 500;
}

.grid-content .box.product .carousel ul.indicators li {
  height: 5px;
  width: 5px;
  margin: 7px 3px !important;
  background-color: #bdbdbd;
}

.grid-content .box.product .carousel ul.indicators li.active {
  background-color: var(--primary);
}

article.product figure {
  width: 100%;
  height: 150px;
  background-color: #bdbdbd;
  margin: 0;
}

article.product figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

section.dashboard .products-category-list .category-box {
  width: 100%;
  height: 250px;
  background-color: #B4BBBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.dashboard .products-category-list .category-box:nth-child(2n) {
  background-color: #CFD8DC;
}

.filter-product #dropdownCategory {
  top: inherit !important;
}
/*# sourceMappingURL=main.css.map */